body{
    margin: 0;
    width: 100vw;
    overflow: hidden;    
}

h1{
    margin: 0;
}

.menubutton{
    position: fixed;
    top: 10px;
    right: 10px;

}


.category{
    height: 100vh;
    position: relative;
}

.category, .categorylink{
    display: flex;
    justify-content: center;
    align-items: center;

}

.categorylink{
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
}

.arrowdown, .arrowup{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}

.arrowdown{
    bottom: 20px;
}

.arrowup{
    top: 20px;
}

@media only screen and (min-width: 800px){
    
}