body{
    margin: 0;
}

h1{
    margin: 0;
}

.menubutton{
    position: fixed;
    top: 10px;
    right: 10px;

}


.start, .category{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.category{
    text-decoration: none;
    color: black;
}

.arrowdown, .arrowup{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.arrowdown{
    bottom: 20px;
}

.arrowup{
    top: 20px;
}

@media only screen and (min-width: 800px){
    
}