<div class="headerspace"></div>

<div class="about">
    <div class="gridbox"><div class="imagebox" id="box1"></div></div>
    <div class="gridbox">
        <div class="textbox">
            <h2>Jacob Sandström</h2>
            <ul>
                <li>Photographer</li>
                <li>Artist</li>
                <li>Designer</li>
            </ul>
        </div>
    </div>
    <div class="gridbox">
        <div class="textbox">
                <p> Born in sweden Jacob
                discovered photography 
               at the tender age of 1.
                He took his first photo 
               bla bla bla Lorem ipsum dolor sit amet consectetur adipisicing elit. 
               Voluptate quaerat esse cumque</p>
        </div>
    </div>
    <div class="gridbox"><div class="imagebox" id="box2"></div></div>
    
</div>