


<div class="contentbox">
    <% 10.times do |i| %>

        <div class="imgbox art">
            
        </div>

    <% end %>

</div>

<footer>
    <h3>contact</h3>
    <div class="contactbox">
        <ul class="contactcategory">
            <li>email:</li>
            <li>swish:</li>
        </ul>
        <ul class="contactinfo">
            <li>jacob.sandstrom@elev.ga.ntig.se</li>
            <li>0705678926</li>
        </ul>
    </div>
</footer>