
<main>
<div class="start"><h1>Sandström Photo</h1><i class="material-icons arrowdown">keyboard_arrow_down</i></div>
<a href="" class="category"><h1>Snowy</h1><i class="material-icons arrowdown">keyboard_arrow_down</i></a>
<a href="" class="category"><h1>Mountains</h1><i class="material-icons arrowup">keyboard_arrow_up</i><i class="material-icons arrowdown">keyboard_arrow_down</i></a>
<a href="" class="category"><h1>Artistic creations</h1><i class="material-icons arrowup">keyboard_arrow_up</i></a>
</main>
