
<main>
    <div id="start"class="start category"><h1>Sandström Photo</h1><i class="material-icons arrowdown icon" onclick="scrolldown()">keyboard_arrow_down</i></div>
    <div class="category" id="snowy"><a href="snowy.html" class="categorylink"><h1>Snowy</h1></a><i class="material-icons arrowdown icon" onclick="scrolldown()">keyboard_arrow_down</i></div>
    <div class="category" id="mountains"><a href="mountains.html" class="categorylink"><h1>Mountains</h1></a><i class="material-icons arrowup icon" onclick="scrollup()">keyboard_arrow_up</i><i class="material-icons arrowdown icon" onclick="scrolldown()">keyboard_arrow_down</i></div>
    <div class="category" id="artistic"><a href="artistic.html" class="categorylink"><h1>Artistic creations</h1></a><i class="material-icons arrowup icon" onclick="scrollup()">keyboard_arrow_up</i></div>
</main>
