<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sandström Photo</title>
    <link rel="stylesheet" href="css/main-minified.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
        <div class="wrapper">
            <%= yield %>
                
            <i class="material-icons menu" onclick="menu_open()">menu</i>
            <div class="menucloser" onclick="menu_open()"></div>

            <nav class="sidebar">
                <div class="menuitems">
                    <a class="menuitem" href="index.html">Home</a>
                    <a class="menuitem" href="about.html">About</a>
                    <a class="menuitem" href="shop.html">Shop</a>
                </div>
                
            </nav>
        

        </div>
    
    <script src="js/main-minified.js"></script>
</body>
</html>