body{
    margin: 0;
    width: 100vw;
}

.disablescroll{
    overflow: hidden;    
}


h1{
    margin: 0;
}

.menu{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.menu:hover{
    
}


.category{
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}


#snowy{
    background-image: url("../img/t.jpg");
}

.category, .categorylink{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.categorylink, a{
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
}

.arrowdown, .arrowup{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    border: solid 3px black;
    border-radius: 50%;
}

.arrowdown{
    bottom: 20px;
}

.arrowup{
    top: 20px;
}

.material-icons.icon{ 
    animation: size 2s   infinite linear;
    font-size: 24px;
}

@keyframes size{
    0%{
        padding: 10px;
    }
    
    50%{
        padding: 8px;
    }

    100%{
        padding: 10px;
    }
}

.sidebar{
    position: fixed;
    height: 100vh;
    width: 130px;
    top: 0;
    padding: 40px 20px 20px 20px;
    /* bottom: 0; */
    right: -200px;
    background-color: rgb(106, 115, 170);
    border: solid 2px white;
    /* border-bottom-right-radius: 70px; */
    transition: 300ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.sidebar.active{
    transition: 400ms;
    right: 0;
}

.menuitems{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuitem{
    margin: 10px;
    font-size: 2rem;
}

.contentbox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: repeat(auto-fill, 50vw); */

}

.imgbox{
    border: solid 1px blue;
    height: 50vw;
    box-sizing: border-box;
}

.imgbox:nth-of-type(8n+3){
    grid-row: span 2;
    height: 100vw;
}

.imgbox:nth-of-type(8n-2){
    grid-row: span 2;
    height: 100vw;
}
.imgbox:nth-of-type(4n-3){
    grid-column: span 2;
}

footer{
    height: 100px;

}

footer h3{
    margin: 10px;
}

@media only screen and (min-width: 800px){
    
}